<h1>RailsBridgeCorp Open Jobs</h1>

<table class="pretty">
    <thead>
        <th><%= sortable "title", "Job Title" %></th>
        <th><%= sortable "description", "Job Description" %></th>
        <th>More Information</th>
        <th>Tags</th>
    </thead>
    <% for job in @jobs %>
        <tr>
        <td><%= job.title %>&nbsp;&nbsp;</td>
        <td><%= job.description %>&nbsp;&nbsp;</td>
        <td><h5><%= link_to "Show Posting", job_path(job)%></h5></td>
        <td>Tags: <%= raw job.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %></td>
        </tr>
    <% end %>
</table>